openapi: 3.0.0
info:
  title: Galasa Web Requests
  version: 0.0.1

servers:
  - url: http://cicsk8sm.hursley.ibm.com:31410

paths:
  /allruns:
    get:
      summary: Get All Runs
      responses:
        '200':
          description: List of all Runs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /propertystore:
    get:
      summary: Get CPS Property
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CPSRequest'
      responses:
        '200':
          description: Value of CPS Property
          content:
            application/json:
              schema:
                type: string
  /resultarchive:
    get:
      summary: Get RAS Structure
      responses:
        '200':
          description: RAS Structure
          content:
            application/json:
              schema:
                type: object
    post:
      summary: Get File
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RASRequest'
      responses:
        '200':
          description: File InputStream
          content:
            application/file:
              schema:
                type: string
                format: binary
  /runs/{id}:
    get:
      summary: Get Run Info
      parameters:
        - name: id
          in: path
          description: User ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Run Info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestRuns'
    post:
      summary: Start TestRuns
      parameters:
        - name: id
          in: path
          description: User ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestRunRequest'
      responses:
        '200':
          description: Test Submitted

components:
  schemas:
    CPSRequest:
      properties:
        namespace:
          type: string
        prefix:
          type: string
        suffix:
          type: string
        infixes:
          type: array
      required:  
        - namespace
        - prefix
        - suffix
    RASRequest:
      properties:
        resultPath:
          type: string
      required:
        - resultPath
    TestRuns:
      properties:
        complete:
          type: boolean
        runs:
          type: array
    TestRunRequest:
      properties:
        classNames:
          type: array
        requestorType:
          type: string
        testStream:
          type: string
        obr:
          type: string
        mavenRepository:
          type: string
        sharedEnvironmentPhase:
          type: string
        sharedEnvironmentRunName:
          type: string
        overrides:
          type: object
        trace:
          type: boolean
        